{% extends "base.html" %}
{% block title %}<title>Client's Cars</title>{% endblock %}
{% block body %}
<div class="fluid-container">

  <div class="card border-light mb-3">
  <div class="card-header">
    <h1 class="text-center my-4">{{context['client'].first_name}} {{context['client'].last_name}} Details</h1>
  </div>
  <div class="card-body" style="background-color: #36494E;">
  </div>
</div>
<div class="container">
  <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <th>CI</th>
          <td><div  class="p-2">{{context['client'].ci}}</div></td>
        </tr>
        <tr>
          <th>First name</th>
          <td><div  class="p-2">{{context['client'].first_name}}</div></td>
        </tr>
        <tr>
          <th>Last name</th>
          <td><div  class="p-2">{{context['client'].last_name}}</div></td>
        </tr>
        <tr>
          <th>Birth date</th>
          <td><div  class="p-2">{{context['client'].birth_date.date()}}</div></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><div  class="p-2">{{context['client'].mail}}</div></td>
        </tr>
        <tr>
          <th>Contact Phone</th>
          <td><div  class="p-2">{{context['client'].phone}}</div></td>
        </tr>
        <tr>
          <th>Address</th>
          <td><div  class="p-2">{{context['client'].address}}</div></td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>
<div class="card border-light mb-3">
  <div class="card-header">
    <h3 class="text-center my-1">{{context['client'].first_name}} {{context['client'].last_name}} Cars</h1>
  </div>
  
  </div>
</div>
<div class="container">
    <div style="text-align: right;">
    <div class="container" style="width:50%;display:flex;">
        <form class="input-group flex p-2" action="{{url_for('client_details')}}" method="post">
          <div class="d-inline p-2 text-white">
          <select class="form-select" name="typeSearch">
            <option selected>Search by: </option>
            <option value="des">Placa</option>
            <option value="start">Marca</option>
            <option value="finish">Modelo</option>
            <option value="id">Año</option>
            <option value="finish">Color</option>
          </select>
        </div>
          <div class="d-inline p-2 text-white">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
            name="search"
          />
        </div>
          <div class="d-inline p-2 text-white">
            <button type="submit" name="submit" class="btn btn-light btn-md" 
          style="background-color: #2A4494; color:#f0f0f0;" title ="Search"><i class="fas fa-search"></i></button>

            {% if not has_role('admin')%}
            <a class="btn btn-secondary disabled" disabled title="Add New Car" ><i class="fa-solid fa-plus"></i></a>
            {% else %}
            <a href="{{url_for('new_car', id=context['client'].id)}}" class="btn btn-light" style="background-color: #2A4494; color:#f0f0f0;"
            title="Add New Car" ><i class="fa-solid fa-plus"></i></a>
            {% endif %}
          </div>
        </form>
    </div>
    </div>
</div>
{% include  'generics/generic_list.html' %}
{% endblock %}