{% extends "base.html" %}
{% block title %}<title>Add New Car</title>
{% include  'generics/icon.html' %}  
{% endblock %}
{% block body %}
<div style="max-width: 800px; margin:auto; margin-top:60px; border-radius: 10px">
    <div id="register" style="margin: 15px 0px">        
        <div class="container pt-3 b-1 bg-light border rounded">
            <div id="register-row" class="row justify-content-center align-items-center" >
                <div id="register-column" class="col-md-8" >
                    <div id="register-box" class="col-md-12">
                        <form id="register-form" class="form-group" action="{{url_for('add_new_car')}}" method="post">                            
                            <h3 class="text-center">{{context['page_title']}}</h3>
                            <div class="form-group">
                                <input id="owner_id" name="owner_id" type="hidden", value="{{context['id']}}">
                                {% if context['car'] %}
                                <input id="car_plate" name="car_plate" type="hidden", value="{{context['car'].license_plate}}">
                                {% endif%}
                                <label style="font-weight:bold;" for="license_plate">License Plate: </label><br>
                                <input id="license_plate" name="license_plate" type="text" class="form-control" value="{{context['car'].license_plate | default('')}}" required><br>
                                <label style="font-weight:bold;" for="brand">Brand: </label><br>
                                <input id="brand" name="brand" type="text" class="form-control" value="{{context['car'].brand | default('')}}" required><br>
                                <label style="font-weight:bold;" for="model">Model: </label><br>
                                <input id="model" name="model" type="text" class="form-control" value="{{context['car'].model | default('')}}" required><br>
                                <label style="font-weight:bold;" for="year">Year: </label><br>
                                <input id="year" name="year" type="text" class="form-control" value="{{context['car'].year | default('')}}" required><br>
                                <label style="font-weight:bold;" for="serial_car">Car Serial: </label><br>
                                <input id="serial_car" name="serial_car" type="text" class="form-control" value="{{context['car'].serial_car | default('')}}" required><br>
                                <label style="font-weight:bold;" for="serial_engine">Engine Serial: </label><br>
                                <input id="serial_engine" name="serial_engine" type="text" class="form-control" value="{{context['car'].serial_engine | default('')}}" required><br>
                                <div class="form-group">
                                <label style="font-weight:bold;" for="color">Color: </label><br>
                                    <select class="form-select" name="color" value="{{context['car'].color | default('')}}" required>
                                        {% if context['car'] %}
                                            <option value="{{context['car'].color}}" hidden>{{context['car'].color | capitalize}}</option>
                                        {% endif %}
                                        <option value="blanco">White</option>
                                        <option value="gris">Grey</option>
                                        <option value="negro">Black</option>
                                        <option value="plata">Silver</option>
                                        <option value="azul">Blue</option>
                                        <option value="rojo">Red</option>
                                        <option value="marron">Brown</option>
                                        <option value="verde">Green</option>
                                        <option value="amarillo">Yellow</option>
                                    </select>
                                </div>
                                <br>
                                <label style="font-weight:bold;" for="issue">Issue: </label><br>
                                <textarea type="text" name="issue" id="issue" class="form-control" required>{{context['car'].issue}}</textarea>
                            </div>                            
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-light btn-md mt-4" 
                                    style="background-color: #2A4494; color:#f0f0f0;" value="Enter">

                                <a class="btn btn-danger btn-md mt-4" href="{{url_for('client_details', id=context['id'])}}"> Cancel </a>
                            </div>               
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 100px;"></div>
{% endblock %}