{% extends "base.html" %}
{% block title %}<title>Add New Client</title>{% endblock %}
{% block body %}
<div style="max-width: 800px; margin:auto; margin-top:60px; border-radius: 10px">
    <div id="register" style="margin: 15px 0px">        
        <div class="container pt-3 b-1 bg-light border rounded">
            <div id="register-row" class="row justify-content-center align-items-center" >
                <div id="register-column" class="col-md-8" >
                    <div id="register-box" class="col-md-12">
                        <form id="register-form" class="form-group" action="{{url_for('add_new_client')}}" method="post">
                            <h3 class="text-center">Add New Client</h3>
                            <div class="form-group">
                                <label style="font-weight:bold;" for="ci">Cédula: </label><br>
                                <input id="ci" name="ci" type="text" value="" class="form-control" placeholder="V-12345678"required><br>
                                <label style="font-weight:bold;" for="first_name">Nombre: </label><br>
                                <input id="first_name" name="first_name" type="text" value="" class="form-control" placeholder="John" required><br>
                                <label style="font-weight:bold;" for="last_name">Apellido: </label><br>
                                <input id="last_name" name="last_name" type="text" value="" class="form-control" placeholder="Doe" required><br>
                                <label style="font-weight:bold;" for="birth_date">Fecha de Nacimiento: </label><br>
                                <input id="birth_date" name="birth_date" class="form-control" required type="date" value=""><br>
                                <label style="font-weight:bold;" for="phone">Teléfono de contacto: </label><br>
                                <input id="phone" name="phone" type="text" value="" class="form-control" placeholder="04121234567"required><br>
                                <label style="font-weight:bold;" for="mail">Email: </label><br>
                                <input id="mail" name="mail" type="text" value="" class="form-control" placeholder="ejemplo@mail.com"required><br>
                                <label style="font-weight:bold;" for="address">Dirección: </label><br>
                                <textarea type="text" name="address" id="address" class="form-control" required></textarea>
                            </div>                            
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-light btn-md mt-4" 
                                    style="background-color: #2A4494; color:#f0f0f0;" value="Enter">

                                <a class="btn btn-danger btn-md mt-4" href="{{url_for('clients_list')}}"> Cancel </a>
                            </div>                          
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}                                
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            {% endif %}
                            {% endwith %} 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 100px;"></div>

{% endblock %}