{% extends "base.html" %}
{% block title %}<title>Project Details</title>
{% include 'generics/icon.html' %}
{% endblock %}
{% block body %}

<div class="card border-light mb-3">
  <div class="card-header">
    <h3 class="text-end my-4">
      <div class="d-inline p-2">Project '{{context['id']}}' details</div>
      <div class="d-inline p-2">
        <div class="d-inline p-2" style="margin-left: 370px;">
          <form method="post" class="d-inline-block">
            <button class="btn btn-outline-success" name="id" value="{{context['id']}}" title="Edit"
              formaction="{{url_for('new_project')}}" {% if not (context['available'] and context['has_permissions'])
              %} disabled {%endif%}>
              <i class="fa-solid fa-pencil" aria-hidden="true"></i>
            </button>
          </form>
          <form method="post" class="d-inline-block">
            <button class="btn btn-outline-secondary" name="id" value="{{context['id']}}" title="Enable/Disable"
              formaction="{{url_for('toggle_project_availability')}}" {% if not context['is_project_manager']
              %} disabled {%endif%}>
              <i class="fa-solid fa-ban" aria-hidden="true"></i>
            </button>
          </form>
          <form method="post" class="d-inline-block">
            <button class="btn btn-outline-danger" name="id" value="{{context['id']}}" title="Delete Project"
              formaction="{{url_for('remove_project')}}" {% if not (context['available'] and context['has_permissions'])
              %} disabled {%endif%}>
              <i class="fa-solid fa-trash" aria-hidden="true"></i>
            </button>
          </form>
          <form method="post" class="d-inline-block">
            <button class="btn btn-outline-primary" name="id" value="{{context['id']}}" title="Print Project"
              formaction="{{url_for('print_project')}}">
              <i class="fa-solid fa-print" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </h3>
  </div>
  <div class="card-body" style="background-color: #36494E;"></div>
</div>

<div class="container">
  <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <th>Description</th>
          <td>
            <div class="p-2">{{context['description']}}</div>
          </td>
        </tr>
        <tr>
          <th>Start Date</th>
          <td>
            <div class="p-2">{{context['start_date']}}</div>
          </td>
        </tr>
        <tr>
          <th>Finish Date</th>
          <td>
            <div class="p-2">{{context['finish_date']}}</div>
          </td>
        </tr>
        <tr>
          <th>
            Managed by:
          </th>
          <td>
            <div style="display: flex;">
              <div class="p-2">               
                <h6>{{context['manager']}}</h6>
              </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>Vehicle Plate</th>
          <td>
            <div class="p-2">{{context['car_plate']}}</div>
          </td>
        </tr>
        <tr>
          <th>Department</th>
          <td>
            <div class="p-2">{{context['department']}}</div>
          </td>
        </tr>
        <tr>
          <th>Issue</th>
          <td>
            <div class="p-2">{{context['issue']}}</div>
          </td>
        </tr>
        <tr>
          <th>Solution</th>
          <td>
            <div class="p-2">{{context['solution']}}</div>
          </td>
        </tr>
        <tr>
          <th>Observation</th>
          <td>
            <div class="p-2">{{context['observations']}}</div>
          </td>
        </tr>
        <tr>
          <th>Amount</th>
          <td>
            <div class="p-2">{{context['amount']}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="actionplan" class="card border-light">
  <div class="card-body" style="background-color: #36494E;"></div>
  <div class="card-header">
    <h3 class="text-center">Action Plans</h1>      
  </div>  
</div>
<div class="container">
  <div style="text-align: right;">
    <div class="container" style="width:50%;display:flex;">
      <form class="input-group flex p-2" action="{{url_for('project_details',id=context['id'])}}" method="post">
        <div class="d-inline p-2 text-white">
          <select class="form-select" name="typeSearch">
            <option selected>Search by: </option>
            <option value="activity">Activity</option>
            <option value="action">Action</option>
            <option value="responsible">Resp.</option>
          </select>
        </div>
        <div class="d-inline p-2 text-white">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" name="search" />
        </div>
        <div class="d-inline p-2 text-white">
          <button type="submit" name="submit" class="btn btn-light btn-md"
            style="background-color: #2A4494; color:#f0f0f0;" title="Search"><i class="fas fa-search"></i></button>

          {% if not has_role('admin')%}
          <a class="btn btn-secondary disabled" disabled title="Register new action plan"><i
              class="fa-solid fa-plus"></i></a>
          {% else %}
          <a href="{{url_for('new_action_plan', project_id=context['id'])}}" class="btn btn-light"
            style="background-color: #2A4494; color:#f0f0f0;" title="Register new action plan"><i
              class="fa-solid fa-plus"></i></a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  {% with list_context=actions_plans_list_context %}
    {% include 'generics/generic_list.html' %}
  {% endwith %}
</div>


<div id="users" class="card border-light mb-3 mt-3">
  <div class="card-body" style="background-color: #36494E;"></div>
  <div class="card-header">
    <h3 class="text-end">
      <div class="d-inline p-2">Users in Project</div>      
      <div class="d-inline p-2" style="margin-left: 500px;">
        <form method="post" class="d-inline-block">
          {% if not context['has_permissions']%}
          <a class="btn btn-outline-success disabled" disabled  title="Add Users"><i
              class="fa-solid fa-plus"></i></a>
          <a class="btn btn-outline-danger disabled" disabled title="Remove Users"><i class="fa-solid fa-minus"></i></a>
          {% else %}
          <a id="addUser" href="{{url_for('manage_project', id=context['id'], mode='Add')}}" class="btn btn-outline-success"
             title="Add Users"><i class="fa-solid fa-plus"></i></a>
          <a id="removeUser" href="{{url_for('manage_project', id=context['id'], mode='Remove')}}" class="btn btn-outline-danger"
            title="Remove Users"><i class="fa-solid fa-minus"></i></a>
          {% endif %}

        </form>
      </div>
    </h3>
  </div>  
</div>

{% with list_context=users_list_context %}
  {% include 'generics/generic_list.html' %}
{% endwith %}




{% endblock %}