{% extends "base.html" %}
{% block title %}<title>Action Plan Details</title>
{% include 'generics/icon.html' %}
{% endblock %}
{% block body %}

<div class="card border-light mb-3">
  <div class="card-header">
    <h3 class="text-end my-4">
      <div class="d-inline p-2">Action Plan '{{context['plan'].id}}' details</div>
      <div class="d-inline p-2">
        <a class="btn btn-outline-primary" style="margin-left: 410px;" href="{{url_for('project_details', id=context['project_id'])}}">
        Go Back
      </a>
      </div>
    </h3>
  </div>
  <div class="card-body" style="background-color: #36494E;"></div>
</div>

<div class="container">
  <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <th>Action</th>
          <td>
            <div class="p-2">{{context['plan'].action}}</div>
          </td>
        </tr>
        <tr>
          <th>Activity</th>
          <td>
            <div class="p-2">{{context['plan'].activity}}</div>
          </td>
        </tr>
        <tr>
          <th>Start date</th>
          <td>
            <div class="p-2">{{context['plan'].start_date.date()}}</div>
          </td>
        </tr>       
        <tr>
          <th>Finish date</th>
          <td>
            <div class="p-2">{{context['plan'].finish_date.date()}}</div>
          </td>
        </tr>
        <tr>
          <th>hours</th>
          <td>
            <div class="p-2">{{context['plan'].hours}}</div>
          </td>
        </tr>
        <tr>
          <th>Responsible</th>
          <td>
            <div class="p-2">{{context['plan'].responsible}}</div>
          </td>
        </tr>
        <tr>
          <th>Total Cost</th>
          <td>
            <div class="p-2">{{context['total_project_cost']}}$</div>
          </td>
        </tr>        
      </tbody>
    </table>
  </div>
</div>

<div id="humantalent" class="card border-light">
  <div class="card-body" style="background-color: #36494E;"></div>
  <div class="card-header">
    <h3 class="text-center">Human Talent</h1>      
  </div>  
</div>
<div class="container">
  <div style="text-align: right;">
    <div class="container" style="width:50%;display:flex;">
      <form class="input-group flex p-2" action="{{url_for('action_plan_details',project_id=context['project_id'], id=context['plan'].id)}}#humantalent" method="post">
        <div class="d-inline p-2 text-white">
          <select class="form-select" name="typeSearch">
            <option selected>Search by: </option>
            <option value="activity">Activity</option>
            <option value="action">Action</option>
            <option value="responsible">Resp.</option>
          </select>
        </div>
        <div class="d-inline p-2 text-white">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" name="search" />
        </div>
        <div class="d-inline p-2 text-white">
          <button type="submit" name="submit" class="btn btn-light btn-md"
            style="background-color: #2A4494; color:#f0f0f0;" title="Search"><i class="fas fa-search"></i></button>

          {% if not has_role('admin')%}
          <a class="btn btn-secondary disabled" disabled title="Register new Human Talent"><i
              class="fa-solid fa-plus"></i></a>
          {% else %}
          <a href="{{url_for('new_human_talent', project_id=context['project_id'], plan_id=context['plan'].id)}}" class="btn btn-light"
            style="background-color: #2A4494; color:#f0f0f0;" title="Register new Human Talent"><i
              class="fa-solid fa-plus"></i></a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
{% with list_context=talents_list_context, name='human_talent' %}
  {% include 'generics/generic_list.html' %}
{% endwith %}
<div class="text-center">
  <h5>Total Human Talent Cost: {{context['total_talent_cost']}}$</h5>
</div>



  <div id="supplies" class="card border-light">
    <div class="card-body" style="background-color: #36494E;"></div>
    <div class="card-header">
      <h3 class="text-center">Supplies</h1>      
    </div>  
  </div>
  <div class="container">
    <div style="text-align: right;">
      <div class="container" style="width:50%;display:flex;">
        <form class="input-group flex p-2" action="{{url_for('action_plan_details',project_id=context['project_id'], id=context['plan'].id)}}#supplies" method="post">
          <div class="d-inline p-2 text-white">
            <select class="form-select" name="typeSearch">
              <option selected>Search by: </option>
              <option value="action-s">Action</option>
              <option value="activity-s">Activity</option>
              <option value="category">Category</option>
              <option value="description">Description</option>
              <option value="measureunit">Unit</option>
              <option value="responsible-s">Resp.</option>
            </select>
          </div>
          <div class="d-inline p-2 text-white">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" name="search" />
          </div>
          <div class="d-inline p-2 text-white">
            <button type="submit" name="submit" class="btn btn-light btn-md"
              style="background-color: #2A4494; color:#f0f0f0;" title="Search"><i class="fas fa-search"></i></button>
  
            {% if not has_role('admin')%}
            <a class="btn btn-secondary disabled" disabled title="Register new supply"><i
                class="fa-solid fa-plus"></i></a>
            {% else %}
            <a href="{{url_for('new_supply', project_id=context['project_id'], plan_id=context['plan'].id)}}" class="btn btn-light"
              style="background-color: #2A4494; color:#f0f0f0;" title="Register new supply"><i
                class="fa-solid fa-plus"></i></a>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% with list_context=supplies_plans_list_context, name='supplies' %}
  {% include 'generics/generic_list.html' %}
{% endwith %}
<div class="text-center mb-5">
  <h5>Total Supplies Cost: {{context['total_supplies_cost']}}$</h5>
</div>

{% endblock %}