{% extends "base.html" %}
{% block title %}<title>Add New Action Plan</title>
{% include 'generics/icon.html' %}
{% endblock %}
{% block body %}
<div style="max-width: 800px; margin:auto; margin-top:60px; border-radius: 10px">
    <div id="register" style="margin: 15px 0px">
        <div class="container pt-3 b-1 bg-light border rounded">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                        <form id="register-form" class="form" action="{{url_for('add_new_human_talent')}}" method="post">
                            <input name="project_id" value="{{context['project_id']}}" type="hidden">
                            <input name="action_plan_id" value="{{context['action_plan_id']}}" type="hidden">
                            {% if context.get('talent') %}
                            <input name="talent_to_edit" value="{{context['talent'].id}}" type="hidden">
                            {% endif %}
                            <h3 class="text-center">{{context['title']}}</h3>
                            <div class="form-group">
                                <label style="font-weight:bold;" for="action">Action: </label><br>
                                <input type="text" name="action" id="action" class="form-control"
                                    value="{{context['talent'].action | default('')}}" maxlength="100" required>
                            </div>
                            <div class="form-group">
                                <label style="font-weight:bold;" for="activity">Activity: </label><br>
                                <input type="text" name="activity" id="activity" class="form-control"
                                    value="{{context['talent'].activity | default('')}}" maxlength="100" required>
                            </div>
                            <div>
                                <label style="font-weight:bold;" for="description">Time:</label><br>                            
                            <input type="number" class="form-control rounded" placeholder="0" aria-label="quantity"
                                aria-describedby="quantity-addon" name="time" min="0.1" step="0.1"
                                value="{{context['talent'].time | default('')}}" required />
                            </div>                            
                            <div>
                                <label style="font-weight:bold;" for="description">Quantity:</label><br>                            
                            <input type="number" class="form-control rounded" placeholder="0" aria-label="quantity"
                                aria-describedby="quantity-addon" name="quantity" min="0.1" step="0.1"
                                value="{{context['talent'].quantity | default('')}}" required />
                            </div>    
                            <div>
                                <div class="form-group">
                                    <label style="font-weight:bold;" for="responsible">Responsible: </label><br>
                                </div>


                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

                                <script type="text/javascript">
                                    window.onload = init;
                                    var responsible_url = "/ajaxlivesearchresp";
                                    function init(){
                                      load_data('',responsible_url);
                                      $('#search_text').keyup(function(){
                                        var search = $(this).val();
                                        console.log(search);
                                        if(search != undefined){
                                        load_data(search);
                                       }else{
                                        load_data('');
                                       }
                                      });
                                    };
                                    function load_data(search,url)
                                      {
                                       $.ajax({
                                        url:url,
                                        method:"POST",
                                        data:{ search : search },
                                        type : 'POST',
                                        success:function(data)
                                        {
                                            if (url == responsible_url){
                                                $('#result').html(data);
                                                $("#result").append(data.htmlresponse);
                                            }
                                        }
                                       });
                                      }
                                    function handleChange(value,url){
                                        if(value != undefined){
                                        load_data(value,url);
                                       }else{
                                        load_data('',url);
                                       }
                                    }
                                    function handleSave(url){
                                        document.getElementById("responsible_selection").value = selected;
                                    }
                                </script>

                            <input type="text" id="responsible_selection" name="responsible_selection" class="form-control" placeholder="Add a Responsible" 
                                  aria-label="Add a Responsible" onkeydown="event.preventDefault()" autocomplete="off" 
                                  value="{{context['talent'].responsible | default('')}}" required>


                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                style="background-color: #2A4494; color:#f0f0f0;">
                                  Select a responsible:
                                </button>


                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Select a Responsible:</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        
                                          <div class="d-inline p-2 text-white">
                                          <input
                                            type="search"
                                            class="form-control rounded"
                                            placeholder="Search by name of the user"
                                            aria-label="Search"
                                            aria-describedby="search-addon"
                                            name="search_text"
                                            onchange='handleChange(this.value,"/ajaxlivesearchresp");'
                                          />
                                        </div>

                                        <div id="result"></div>

                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="handleSave('/ajaxlivesearchresp');" data-bs-dismiss="modal">Save changes</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>





                                <div>
                                <label style="font-weight:bold;" for="description">Cost ($):</label><br>                                
                                <input type="number" class="form-control rounded" placeholder="0.00$"
                                    aria-label="cost" aria-describedby="Ammount-addon" name="cost" min="0" step="0.01"
                                    value="{{context['talent'].cost | default('')}}" required />
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md mt-4"
                                        style="background-color: #2A4494; color:#f0f0f0;" value="Enter">
                                    <a class="btn btn-danger btn-md mt-4"
                                        href="{{url_for('action_plan_details', project_id=context['project_id'], id=context['action_plan_id'])}}">
                                        Cancel </a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 100px;"></div>

{% endblock %}