{% extends "base.html" %}
{% block title %}<title>Add New Action Plan</title>
{% include  'generics/icon.html' %}  
{% endblock %}
{% block body %}
<div style="max-width: 800px; margin:auto; margin-top:60px; border-radius: 10px">
    <div id="register" style="margin: 15px 0px">        
        <div class="container pt-3 b-1 bg-light border rounded">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                        <form id="register-form" class="form" action="{{url_for('add_new_action_plan')}}" method="post">
                            <input name="project_id" value="{{context['project_id']}}" type="hidden">
                            {% if context.get('action_plan_to_edit') %}
                                <input name="action_plan_to_edit" value="{{context['action_plan_to_edit'].id}}" type="hidden">
                            {% endif %}
                            <h3 class="text-center">{{context['title']}}</h3>
                            <div class="form-group">
                                <label style="font-weight:bold;" for="action">Action: </label><br>
                                <input type="text" name="action" id="action" class="form-control" value="{{context['action_plan_to_edit'].action | default('')}}" required>
                            </div>
                            <div class="form-group">
                                <label style="font-weight:bold;" for="activity">Activity: </label><br>
                                <input type="text" name="activity" id="activity" class="form-control" value="{{context['action_plan_to_edit'].activity | default('')}}" required>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label style="font-weight:bold;" for="s_date">Start Date: </label>
                                    <input id="s_date" name="s_date" class="form-control" required
                                        type="date" value="{{context['s_date'] | default('')}}">
                                </div>
                                <div class="col">
                                    <label style="font-weight:bold;" for="c_date">Finish Date: </label>
                                    <input id="c_date" name="c_date" class="form-control" required
                                    type="date" value="{{context['c_date'] | default('')}}" />
                                </div>
                            </div>
                            <div>
                            <label style="font-weight:bold;" for="description">Hour quantity:</label><br>
                            </div>
                            <input type="number"
                                class="form-control rounded"
                                placeholder="0"
                                aria-label="quantity"
                                aria-describedby="quantity-addon"
                                name="quantity"
                                min="0.1"
                                step="0.1"
                                value="{{context['action_plan_to_edit'].hours | default('')}}"
                                required
                                />
                            <div>
                            <div class="form-group">
                                <label style="font-weight:bold;" for="responsible">Responsible: </label><br>
                                <input type="text" name="responsible" id="responsible" class="form-control" value="{{context['action_plan_to_edit'].responsible | default('')}}" required>
                            </div>
                            <div>
                            <label style="font-weight:bold;" for="description">Cost ($):</label><br>
                            </div>
                            <input type="number"
                                class="form-control rounded"
                                placeholder="0.00$"
                                aria-label="cost"
                                aria-describedby="cost-addon"
                                name="cost"
                                min="0"
                                step="0.01"
                                value="{{context['action_plan_to_edit'].cost | default('')}}"
                                required
                                />
                            <div>
                            <div class="form-group">                                
                                <input type="submit" name="submit" class="btn btn-info btn-md mt-4" 
                                style="background-color: #2A4494; color:#f0f0f0;" value="Enter">
                                <a class="btn btn-danger btn-md mt-4" href="{{url_for('action_plans_lists')}}"> Cancel </a>
                            </div>                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 100px;"></div>

{% endblock %}