<script type="text/javascript">
var selected = null;
$('input[type="checkbox"]').on('change', function() {
   selected = this.id;
   $('input[type="checkbox"]').not(this).prop('checked', false);
});
</script>
<table class="table">
  <thead>
    <tr>
      <td></td>
      <td>ID</td>
      <td>Name</td>
      <td>Role</td>
    </tr>
  </thead>
  <tbody>
    <div class="form-check">
      {%- for user in all_info %}   
      <tr>
        <td><input class="form-check-input" type="checkbox" id="{{user.id}}" value="" aria-label="..."></td>
        <td> {{user.id}} </td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.role}}</td>
      </tr>
      {% endfor -%}
    </div>
  </tbody>
</table>

