{% extends "base.html" %}
{% block title %}<title>Login</title>{% endblock %}
{% block body %}
<div style="max-width: 600px; margin:auto; margin-top:60px; border-radius: 10px;">
    <div id="login" style="margin: 15px 0px">        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center">Login</h3>
                            <div class="form-group">
                                <label for="username">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">                                
                                <input type="submit" name="submit" class="btn btn-light btn-md mt-4" 
                                style="background-color: #2A4494; color:#f0f0f0;" value="Enter">
                            </div> 
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}                                
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            {% endif %}
                            {% endwith %}                 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}