{# Lista generica para usar en varias partes de la pagina.
La lista debe recibir un parametro "list_context que debe ser un dict.
El dict debe contener dos claves: "list_header" y "list_body".
    list_header: Es un arreglo de dicts. Los dicts deben contener
        dos claves: "label" y "style"
            label: El texto que se muestra en el header de la pagina
            style: Stilo que mostrara la columna de la pagina
    list_body: Arreglo de objetos que contienen la informacion de las
        filas. Los objetos son dicts que tienen dos claves: data y
        action.
            data: Arreglo con string que tienen la informacion a mostrar en las celdas
                de una fila.
            action: Codigo jinja con los botones y las acciones que debe
                ejecutar el boton

#}

<div class="row" style="width:92%;margin: auto;">
    <div class="col-12">
        <table class="table table-striped table-hover table-borderless">
            <thead>
                <tr class="table-active">
                    {% for item in list_context['list_header']%}
                    <th scope="col" class="text-center {{item['class']}}">{{item['label']}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if list_context['list_body']| length == 0 -%}
                <tr>
                    <td>Empty list</td>
                </tr>
                {% else -%}
                {% for item in list_context['list_body'] %}
                <tr>
                    {% for data in item['data'] %}
                    <td> {{data}}</td>
                    {% endfor%}
                    {% if item['actions']%}
                    <td>
                        <div class="row g-1">
                            {% for action in item['actions']%}
                            {{action | safe}}
                            {% endfor%}
                        </div>
                    </td>
                    {% endif%}
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>