{% extends "base.html" %}
{% block title %}<title>Project Details</title>
{% include  'generics/icon.html' %}  
{% endblock %}
{% block navbar%}{% endblock%}
{% block body %}
<div class="container">
  <div class="row" >
    <h1 class="text-center mb-3 mt-3">Project '{{context['id']}}' details</h1>

      <div class="row">
        <div class="col">
          <h3>Description</h3>
        </div>
      </div>
      <p>{{context['description']}}</p>
      <div class="row">
        <div class="col">
          <h4>Start date</h4>
          <h6>{{context['start_date']}}</h6>
        </div>
        <div class="col">
          <h4>Finish date</h4>
          <h6>{{context['finish_date']}}</h6>
        </div>
      </div>        
  </div>
</div>
<div class="row container-fluid mt-1 mx-auto">
    <h3>Users in project</h3>  
  {% include 'generics/generic_list.html' %}
</div>
{% endblock %}
{% block footer%}{% endblock%}