{% extends "base.html" %}
{% block title %}<title>Register New User</title>
{% include  'generics/icon.html' %}  
{% endblock %}
{% block body %}
<div style="max-width: 800px; margin:auto; margin-top:60px; border-radius: 10px">
    <div id="register" style="margin: 15px 0px">        
        <div class="container pt-3 b-1 bg-light border rounded">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                        <form id="register-form" class="form" action="{{url_for('add_new_user')}}" method="post">
                            {% if context.get('user_to_edit') %}
                            <input name="user_to_edit" value="{{context['user_to_edit'].id}}" type="hidden">
                            {% endif %}
                            <h3 class="text-center">{{context['title']}}</h3>
                            <div class="form-group">
                                <label style="font-weight:bold;" for="username">Username: </label><br>
                                <input type="text" name="username" id="username" class="form-control" value="{{context['user_to_edit'].username | default('')}}" required>
                            </div>
                            <div class="form-group">
                                <label style="font-weight:bold;" for="f_name">First Name: </label><br>
                                <input type="text" name="f_name" id="f_name" class="form-control" value="{{context['user_to_edit'].first_name | default('')}}" required>
                            </div>
                            <div class="form-group">
                                <label style="font-weight:bold;" for="l_name">Last Name: </label><br>
                                <input type="text" name="l_name" id="l_name" class="form-control" value="{{context['user_to_edit'].last_name | default('')}}" required>
                            </div>
                            <div class="form-group">
                                <label style="font-weight:bold;" for="job">Job: </label><br>
                                <input type="text" name="job" id="job" class="form-control" value="{{context['user_to_edit'].job | default('')}}" required>
                            </div>
                            <div class="form-group">
                                <label style="font-weight:bold;" for="password">Password: </label><br>
                                <input type="password" name="password" id="password" class="form-control" value="" required>
                            </div>
                            <div class="form-group">
                                <label style="font-weight:bold;" for="permissions">Permissions:</label><br>
                                    <select class="form-select" name="permissions" value="{{context['user_to_edit'] | default('')}}" required>
                                        {% if context['user_to_edit'] %}
                                            <option value="{{context['user_to_edit'].role}}" hidden>{{context['user_to_edit'].role}}</option>
                                        {% endif %}
                                        <option value="admin">Administrator</option>
                                        <option value="opera">Analyst of Operations</option>   
                                        <option value="mngr">General Manager</option>
                                        <option value="omngr">Manager of Operations</option>
                                        <option value="mmngr">General Mechanics Manager</option>
                                        <option value="smngr">Structures Manager</option>
                                        <option value="cmngr">Coating Manager</option>
                                        <option value="emngr">Manager of Electronics</option>
                                        <option value="ymngr">Manager of Electricity</option>
                                        <option value="user">Mechanics Specialist</option>
                                        <option value="user">Structure Specialist</option>
                                        <option value="user">Coating Specialist</option>
                                        <option value="user">Electronics Specialist</option>
                                        <option value="user">Electricity Specialist</option>
                                    </select>
                            </div>
                            <div class="form-group">                                
                                <input type="submit" name="submit" class="btn btn-info btn-md mt-4" 
                                style="background-color: #2A4494; color:#f0f0f0;" value="Enter">
                                <a class="btn btn-danger btn-md mt-4" href="{{url_for('users_lists')}}"> Cancel </a>
                            </div>                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 100px;"></div>

{% endblock %}