{% extends "base.html" %}
{% block title %}<title>Lista de usuarios</title>{% endblock %}
{% block body %}
<div class="container">
    <h2 class="text-center mb-4 mt-3">User's list </h2>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>              
              <th scope="col">Username</th>
              <th scope="col">Permissions</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>User</td>
                <td>
                  <form method="post">
                    <button method="post" class="btn btn-danger" name="id" value="{{user.username}}" formaction="{{'users_list/delete'}}">
                  </form>
                </td>
              </tr>
            
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}