{% extends "base.html" %}
{% block title %}<title>User details</title>
{% include  'generics/icon.html' %}  
{% endblock %}
{% block body %}

<div class="card border-light mb-3">
  <div class="card-header">
    <h2 class="text-center my-4">User '{{context['username']}}' details</h2>
  </div>
  <div class="card-body" style="background-color: #36494E;">
    <div class="row" style="color:white;">
      <div class="col d-flex justify-content-center">
        <h4>First name: {{context['fname']}}</h4>
      </div>
      <div class="col d-flex justify-content-center">
        <h4>Last name: {{context['lname']}}</h4>
      </div>
      <div class="col d-flex justify-content-center">
        <h4>Role: {{context['job']}}</h4>
      </div>
    </div>
  </div>
</div> 
    <div class="container">
    <div class="mt-3">
      <div class="d-flex justify-content-center">
        <h2>Project's list</h2>
      </div>
    </div>
  </div>
{% include  'generics/generic_list.html' %}  

{% endblock %}