{% extends "base.html" %}
{% block title %}<title>User's list</title>{% endblock %}
{% block body %}
<div class="card border-light mb-3">
  <div class="card-header">
    <h1 class="text-center my-4">User's List</h1>
  </div>
  <div class="card-body" style="background-color: #36494E;">
  </div>
</div>

<div class="container">
    <div style="text-align: right;">
    <div class="container-fluid" style="width:50%;display: flex;">
        <form class="input-group mb-3">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
        </form>
      <div>
      <a id="addButton" href="{{url_for('new_project')}}" class="btn btn-light" 
      style="background-color: #2A4494; color:#f0f0f0;margin-left: 10px;"><i class="fas fa-search"></i></a>
      </div>
      <div class="mb-2 mx-2">
        {% if not has_role('admin')%}
        <a class="btn btn-secondary disabled" disabled title="Register new user" ><i class="fa-solid fa-person"></i></a>
        {% else %}
        <a href="{{url_for('new_user')}}" class="btn btn-light" style="background-color: #2A4494; color:#f0f0f0;"
        title="Register new user" ><i class="fa-solid fa-person"></i></a>
        {% endif %}
      </div>
    </div>
    </div>
  {% include  'generics/generic_list.html' %}  
</div>
{% endblock %}